/*
/*/
!.gitignore

.config/*
.config/*/
!.config/
!.config/README.md
!.config/nvim/
!.config/bspwm/
!.config/ly/
!.config/rofi/
!.config/yazi/
!.config/picom/
!.config/kitty/
!.config/mpv/
!.config/sxhkd/

!.gitconfig
!.xinitrc

# bash
!.bashrc
!.bash_profile
!.bash_aliases
!.bash_constants
!.bash_logout

# zsh
!.zsh/
!.zshrc
!.zprofile
!.zshenv
!.zlogin
!.zlogout

!.env.example
